# Entorno de Ejecución ('development', 'production', 'testing')
ENVIRONMENT=development

# Configuración de Base de Datos MySQL
DB_USER=daniel
DB_PASSWORD=your_password_here
DB_HOST=localhost
DB_PORT=3306
DB_NAME=para_ti_boutique

# Imprimir consultas SQL en la consola (true/false, por defecto false en producción)
DB_ECHO=true

# Orígenes CORS permitidos (separados por coma. Usar '*' en desarrollo o dominios específicos en producción)
CORS_ORIGINS=*
